<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <!-- Spinner Start -->
        <div id="spinner"
            class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->

        <%- include('./partials/header.ejs') %>

            <!-- Header Start -->
            <div class="container-fluid bg-breadcrumb py-5">
                <div class="container text-center py-5">
                    <h3 class="text-white display-3 mb-4">Our Services</h1>
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active text-white">Service Page</li>
                        </ol>
                </div>
            </div>
            <!-- Header End -->


            <!-- Services Start -->
            <div class="container-fluid services py-5">
                <div class="container py-5">
                    <div class="mx-auto text-center mb-5" style="max-width: 800px;">
                        <p class="fs-4 text-uppercase text-center text-primary">Our Service</p>
                        <h1 class="display-3">Spa & Beauty Services</h1>
                    </div>
                    <div class="row g-4">

                        <% if (data?.category?.length) { %>
                            <% data.category.forEach((cat)=> { %>
                                <div class="col-lg-6">
                                    <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                                        <div class="row align-items-center">

                                            <div class="col-8">
                                                <div class="services-content text-end">
                                                    <h3>
                                                        <%= cat.Name %>
                                                    </h3>
                                                    <p>
                                                        <%= cat.description %>
                                                    </p>

                                                    <a href="/order/<%= cat._id %>"
                                                        class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">
                                                        Make Order
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div
                                                    class="services-img d-flex align-items-center justify-content-center rounded">
                                                    <img src="/uploads/<%= cat.image %>" class="img-fluid rounded"
                                                        alt="<%= cat.name %>">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <%}else {%>
                                        <div class="col-lg-6">
                                            <div
                                                class="services-item bg-light border-4 border-end border-primary rounded p-4">
                                                <div class="row align-items-center">
                                                    <div class="col-8">
                                                        <div class="services-content text-end">
                                                            <h3>Skin Care</h3>
                                                            <p>Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting
                                                                industry.
                                                                Lorem
                                                                Ipsum has been the industry's standard dummy</p>
                                                            <a href="#"
                                                                class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Make
                                                                Order</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div
                                                            class="services-img d-flex align-items-center justify-content-center rounded">
                                                            <img src="/web/img/services-1.jpg"
                                                                class="img-fluid rounded" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>



                    </div>
                </div>
            </div>




            <!-- Pricing Start -->
            <div class="container-fluid pricing py-5" style="background: var(--bs-primary);">
                <div class="container py-5">
                    <div class="owl-carousel pricing-carousel">
                        <% (data?.pricingPlans || []).forEach(function(plan) { %>
                        <div class="pricing-item">
                            <div class="pricing-content rounded">
                                <div
                                    class="d-flex align-items-center justify-content-between bg-light rounded-top border-3 border-bottom border-primary p-4">
                                    <h1 class="display-4 mb-0">
                                        <small class="align-top text-muted"
                                            style="font-size: 22px; line-height: 45px;">$</small><%= plan.price %><small
                                            class="text-muted" style="font-size: 16px; line-height: 40px;"><%= plan.durationLabel || "/Session" %></small>
                                    </h1>
                                    <h5 class="text-primary text-uppercase m-0"><%= plan.name %></h5>
                                </div>
                                <div class="p-4">
                                    <% (plan.features || []).forEach(function(feature) { %>
                                        <p><i class="fa fa-check text-primary me-2"></i><%= feature %></p>
                                    <% }) %>
                                    <a href="/appointment"
                                        class="btn btn-primary btn-primary-outline-0 rounded-pill my-2 px-4"><%= plan.ctaLabel || "Book Now" %>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <!-- Pricing End -->

            <%- include('./partials/footerlink.ejs') %>
    </body>

</html>
