<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>

    <%- include("./partials/header.ejs") %>

    <div class="container-fluid bg-breadcrumb py-5">
        <div class="container text-center py-5">
            <h3 class="text-white display-3 mb-4">Testimonials</h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active text-white">Testimonial</li>
            </ol>
        </div>
    </div>

    <div class="container-fluid testimonial py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 800px;">
                <p class="fs-4 text-uppercase text-primary">Client Feedback</p>
                <h1 class="display-4 mb-4 text-white">What Our Clients Say</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <% (data?.testimonials || []).forEach(function(item) { %>
                    <div class="testimonial-item rounded p-4">
                        <div class="row">
                            <div class="col-4">
                                <img src="<%= !item.image ? '/web/img/testimonial-1.jpg' : (item.image.startsWith('http') || item.image.startsWith('/') ? item.image : (item.image.startsWith('testimonial-') ? '/web/img/' + item.image : '/uploads/' + item.image)) %>" class="img-fluid rounded-circle" alt="Client">
                            </div>
                            <div class="col-8">
                                <h4 class="text-primary"><%= item.name %></h4>
                                <p class="fs-6 mb-0 text-white"><%= item.message %></p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <%- include("./partials/footerlink.ejs") %>
</body>
</html>
