<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>

  <%- include('../../partials/headlink.ejs') %>
</head>

<body>
  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>
      <%- include("../../partials/alertMsg") %>
        <main id="main" class="main">
          <div class="pagetitle">
            <h1>
              <%-user?.type %>
            </h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->

          <section class="section dashboard">
            <div class="row">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <!-- <h3 class="card-title">Add Product </h3> -->
                      <% if(typeof service_data !=="undefined" && service_data){%>
                        <h5 class="card-title">Edit Product</h5>
                        <form class="needs-validation" action="/add-product-store?id=<%= service_data._id%>"
                          method="post" enctype="multipart/form-data" novalidate>
                          <div class="row g-3">
                            <div class="col">
                              <label for="">Service Name</label>
                              <input required type="text" name="ServiceName" value="<%= service_data?.ServiceName%>"
                                class="form-control" placeholder="Enter Service Name">
                              <div class="invalid-feedback">Please Enter Service Name.</div>
                            </div>
                            <div class="col">
                              <label for="">Service Price</label>
                              <input required type="number" name="ServicePrice" value="<%= service_data?.ServicePrice%>"
                                class="form-control" placeholder="Enter Service Price">
                              <div class="invalid-feedback">Please Enter Service Price.</div>
                            </div>
                          </div><br>

                          <div class="row g-3">
                            <div class="col">
                              <label for="">Time</label>
                              <input required type="number" name="timePeriod_in_minits"
                                value="<%= service_data?.timePeriod_in_minits%>" class="form-control"
                                placeholder="Enter a Time Period">
                              <div class="invalid-feedback">Please Enter Service Time.</div>
                            </div>
                            <div class="col">
                              <label for="">Service Image</label>

                              <input class="form-control" type="file" name="image" id="formFile" multiple>
                              <%for(image of service_data.image){%>
                                <img src="../../../../uploads/<%=image%>" width="70px">
                                <%}%>
                            </div>
                          </div><br>

                          <div class="row g-3">
                            <div class="col">
                              <label>Select Saloon</label>
                              <select class="form-select" name="saloonStore" required>
                                <option value="">Select Saloon</option>
                                <% for (let s of saloonList) { %>
                                  <option value="<%= s._id %>" <%= service_data?.saloonStore?.toString() === s._id.toString() || (!service_data?.saloonStore && saloonList.length === 1) ? 'selected' : '' %>>
                                    <%= s.storeName %>
                                  </option>
                                <% } %>
                              </select>
                              <div class="invalid-feedback">Please Select Saloon.</div>
                            </div>

                            <div class="col">
                              <label>Select Category</label>
                              <select class="form-select" name="category" required>
                                <option value="">Select Category</option>

                                <% for (let data of category) { %>
                                  <option value="<%= data._id %>" <%=service_data?.category==data._id.toString()
                                    ? 'selected' : '' %>>
                                    <%= data.Name %>
                                  </option>
                                  <% } %>

                              </select>
                              <div class="invalid-feedback">Please Select Category.</div>
                            </div>

                            <div class="col">
                              <label>Description</label>
                              <textarea class="form-control" name="description" id="description" required
                                style="height: 120px"><%= service_data?.description %></textarea>
                              <div class="invalid-feedback">Please Enter Description.</div>
                            </div>

                          </div>
                          <br>


                          <div class="row mb-3">
                            <div class="col-sm-10">
                              <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                          </div>
                        </form>
                        <%}else{%>
                          <h5 class="card-title">Add Product</h5>
                          <form class="needs-validation" action="/add-product-store" method="post"
                            enctype="multipart/form-data" novalidate>

                            <div class="row g-3">
                              <div class="col">
                                <label for=""> Service Name</label>
                                <input required type="text" name="ServiceName" class="form-control"
                                  placeholder="Enter Service Name">
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please Enter Service Name.</div>
                              </div>
                              <div class="col">
                                <label for=""> Service Price</label>
                                <input required type="number" name="ServicePrice" class="form-control"
                                  placeholder="Enter Service Price">
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please Enter Service Price.</div>
                              </div>
                            </div><br>

                            <div class="row g-3">
                              <div class="col">
                                <label for="">Time</label>
                                <input required type="number" name="timePeriod_in_minits" class="form-control"
                                  placeholder="Enter Time ">
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please Enter Service Time.</div>
                              </div>
                              <div class="col">
                                <label for="">Service Images</label>
                                <input class="form-control" type="file" name="image" id="formFile" multiple required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please select Image.</div>
                              </div>
                            </div><br>

                            <div class="row g-3">
                              <div class="col">
                                <label for="">Select Saloon</label>
                                <select class="form-select" name="saloonStore" required>
                                  <option value="">Select Saloon</option>
                                  <% for(let s of saloonList){%>
                                    <option value="<%= s?._id%>" <%= saloonList.length === 1 ? 'selected' : '' %>>
                                      <%= s?.storeName%>
                                    </option>
                                  <%}%>
                                </select>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please Select Saloon.</div>
                              </div>
                              <div class="col">
                                <label for="">Select Category</label>
                                <select class="form-select" name="category" aria-label="multiple select example"
                                  required>
                                  <option value="">Select Category</option>
                                  <% for(data of category){%>
                                    <option value="<%= data?._id%>">
                                      <%= data?.Name%>
                                    </option>
                                    <%}%>
                                </select>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please Select Category.</div>
                              </div>
                              <div class="col">
                                <label for="">Discription</label>
                                <textarea class="form-control" name="description" placeholder="Enter Description"
                                  style="height: 100px" required minlength="5"></textarea>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please Enter Discription.</div>
                              </div>

                            </div><br>
                            <div class="row mb-3">
                              <div class="col-sm-10">
                                <button type="submit" id='mySubmit' class="btn btn-primary">Submit</button>
                              </div>
                            </div>
                          </form>
                          <%}%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="/public/assets/js/form-validation.js"></script>
        <%- include("../../partials/script.ejs") %>
</body>

</html>
